* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.search {
  background-color: gainsboro;
  padding: 5px;
}

h3 {
  font-weight: 200;
}

.search input {
  margin: 5px;
  padding: 3px;
  border-radius: 2px;
}

.sch {
  text-align: left;
}

.bx {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.bx div {
  margin: 2px;
  padding: 5px;
}

.box-1 {
  background-color: #7ee5da;
}

.box-2 {
  background-color: #70ccc2;
}

.box-3 {
  background-color: #62b3aa;
}
